swagger: '2.0'
info:
  description: "This is Alphacode sLLM Model Server Endpoint"
  title: "sllm endpoint"
  version: 1.0.0
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: alphacode.co.kr
basePath: /v1
paths: 
  /querytext:
    post:
      consumes:
      - application/json
      parameters:
      - name: SHA256
        in: header
        type: string
        required: true
        description: SHA256 hash key for authentication
      - name: body
        in: body
        required: true
        schema:
          type: object
          properties:
            taskId: 
              type: string
            styleGuideId:
              type: string
            forbiddenWordDicId:
              type: string
            mmsId:
              type: string
            DictionaryWordId:
              type: string  
            text:
              type: array
              items:
                type: string
      responses:
        200:
          description: A successful response
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
          
  /queryfile:
    post:
      consumes:
      - multipart/form-data
      parameters:
      - name: SHA256
        in: header
        type: string
        required: true
        description: SHA256 hash key for authentication
      - in: formData
        name: file
        type: file
        description: The CSV file to upload
        required: true
        format: binary
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            taskId: 
              type: string
            styleGuideId:
              type: string
            forbiddenWordDicId:
              type: string
            mmsId:
              type: string
            DictionaryWordId:
              type: string  
      responses:
        200:
          description: A successful response
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
